GITHUB_TOKEN=your_github_token_here
GITHUB_API_URL=https://api.github.com
GITHUB_TIMEOUT=10
GITHUB_SEARCH_PER_PAGE=30
GITHUB_README_CANDIDATE_LIMIT=10
GITHUB_README_MAX_CHARS=4000
MIN_REPOSITORY_STARS=5