# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Test / cache
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/